# api settings
API_PORT=5000
API_ENV_NAME=development
API_VERSION=v1

# database settings
DB_URL=postgres://production:production@localhost:5432/production_db?sslmode=disable
DB_URL_SECRET_NAME=db-secret-url

# cloud settings
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
AWS_BASE_ENDPOINT=http://localhost:4566

# cache settings
CACHE_HOST=localhost:6379
CACHE_HOST_SECRET_NAME=cache-host-secret
CACHE_PASSWORD=
CACHE_DB=0